html, body 
{
    border:0;
    margin:0;
}

h1 
{
    text-align:center;
    margin-top:10px;
}

img 
{
    width:440px;
    height:380px;
}

#container-imgs
{
    text-align:center;
}

#name
{
    margin-top:40px;
    text-align:center;
}
